<div class="card-container">
    <form>
        <mat-form-field appearance="outline" style="width:400px !important">
            <mat-label>Find your next favorite show! </mat-label>
            <mat-icon matPrefix></mat-icon>
            <input matInput aria-label="Show Name" [formControl]="search">
            <mat-hint>Enter Show Name</mat-hint>
            <mat-error *ngIf="search.invalid">
             Type three or more characters to search
            </mat-error>
        </mat-form-field>
    </form>
</div>
